body {
    background-color: #f8f9fa;
}

.navbar-custom {
    background-color: #be8900;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.dropdown-item {
    color: #343a40;
}

.dropdown-item:hover {
    background-color: #e2e6ea;
}

.container {
    margin-top: 30px;
}

.btn {
    margin: 5px;
}
